<!DOCTYPE html>
<html lang="en">

<body>
  <div class="container content_requests_index">
    <div class="card custom-card_requests_index">
      <div class="card-body header-container_requests_index">
        <h2 class="header-text_requests_index">My Applications</h2>
        <h5 class="subheader-text_requests_index">Check on the requests you applied for here!</h5>
      </div>
    </div>

    <!-- Search Bar Container -->
    <div class="search-container_requests_index">
      <div class="">
        <div class="row">
          <div class="col-md-12">
            <form class="search-form_requests_index">
              <input type="text" class="search-input_requests_index_my form-control" id="searchInput" placeholder="Search my applications...">
              <button type="submit" class="btn search-btn_requests_index"><i class="fas fa-search"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs my-requests-tabs mb-3" id="myApplicationsTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="upcoming-tab" data-bs-toggle="tab" data-bs-target="#upcoming" type="button" role="tab" aria-controls="upcoming" aria-selected="true">Upcoming</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pending" type="button" role="tab" aria-controls="pending" aria-selected="true">Pending</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="completed-tab" data-bs-toggle="tab" data-bs-target="#completed" type="button" role="tab" aria-controls="completed" aria-selected="false">Completed</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="unfulfilled-tab" data-bs-toggle="tab" data-bs-target="#withdrawn" type="button" role="tab" aria-controls="withdrawn" aria-selected="false">Withdrawn/Rejected</button>
      </li>
    </ul>

    <div class="tab-content my-applications-tab-content" id="myApplicationsTabContent">
      <% ['upcoming', 'pending', 'completed', 'withdrawn'].each do |tab| %>
        <div class="tab-pane my-applications-tab-pane fade <%= 'show active' if @current_tab == tab %>" 
            id="<%= tab %>" role="tabpanel" aria-labelledby="<%= tab %>-tab">
          <% applications = instance_variable_get("@#{tab}applications") %>
          <% if applications.empty? %>
            <%= render 'shared/empty_state' %>
          <% else %>
            <%= render partial: 'request_cards', locals: { requests: applications } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</body>
<%= javascript_include_tag 'myapplications' %>
</html>
