<!DOCTYPE html>
<html lang="en">

<body>
  <div class="container content_requests_index">
    <div class="card custom-card_requests_index">
      <div class="card-body header-container_requests_index">
        <h2 class="header-text_requests_index">My Applications</h2>
        <h5 class="subheader-text_requests_index">Check on the requests you applied for here!</h5>
      </div>
    </div>

    <!-- Search Bar Container -->
    <div class="search-container_requests_index">
      <div class="">
        <div class="row">
          <div class="col-md-12">
            <form class="search-form_requests_index">
              <input type="text" class="search-input_requests_index_my form-control" id="searchInput" placeholder="Search my applications...">
              <button type="submit" class="btn search-btn_requests_index"><i class="fas fa-search"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Container for Request Cards -->
    <div class="card mt-0" id="requestContainer">
      <div class="card-body">
        <div class="row">
          <% @applications.each do |myapplication| %>
            <div class="col-md-12 mb-4 request-card_requests_index_my" data-request-status="<%= myapplication.request.status %>">
              <div class="clickable-card_requests_index-wrapper_my">
                <div class="card h-100 d-flex flex-row align-items-center">
                  <a href="<%= request_path(myapplication.request) %>" class="clickable-area_requests_index_my">
                    <% if myapplication.request.thumbnail.attached? %>
                      <img src="<%= image_url(myapplication.request.thumbnail) %>" class="thumbnail_requests_index_my" alt="<%= myapplication.request.title %>"/>
                    <% end %>
                    <div class="card-content_requests_index_my flex-grow-1">
                      <h5 class="card-title_requests_index_my"><%= myapplication.request.title %></h5>
                      <p class="card-date_requests_index_my"><%= myapplication.request.date.strftime('%d %B %Y') %> , <%= myapplication.request.start_time.strftime('%H:%M') %></p>
                    </div>
                  </a>
                  <div class="card-actions_requests_index_my">
                    <div class="application-indicator_requests_index_my">
                      <span class="application-status_indicator_my <%= myapplication.status.downcase %>" data-application-status="<%= myapplication.status %>">
                        <%= myapplication.status %>
                      </span>
                    </div>
                    <button class="btn dropdown-btn_requests_index_my"><i class="fas fa-chevron-down"></i></button>
                  </div>
                </div>
                <div class="popups-container_my">
                  <div class="popup_requests_index_my">
                    <!-- Content for the popup -->
                    <div class="applicant-info_requests_index_my">
                      <% if myapplication.request.user.avatar.attached? %>
                        <img src="<%= image_url(myapplication.request.user.avatar) %>" alt="<%= myapplication.request.user.name %>" class="profile-pic_requests_index_my">
                      <% end %>
                      <p><%= myapplication.request.user.name %></p>
                      <button class="btn custom-btn-chat_my">Chat</button>
                      <a href="#" class="btn withdraw-btn_requests_index_my">Withdraw</a>
                      <a href="#" class="btn leave-review-btn" style="display: none;">Leave a Review</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
<%= javascript_include_tag 'myapplications' %>
</html>
