<div>
  <% @allemployees.each do |employee| %>
    <div>
      <a href="/profile?id=<%=employee.id%>">
      <%= employee.name %> 
      <%= employee.email %> 
      </a>
      <% if employee.status != 'Active' %>
        <%= form_with url: cvm_employees_activate_path, method: :patch do %>
          <%= hidden_field_tag :employee_id, employee.id %>
          <button type="submit"> Activate </button>
        <% end %>
      <% else %>
        <%= form_with url: cvm_employees_deactivate_path, method: :patch do %>
          <%= hidden_field_tag :employee_id, employee.id %>
          <button type="submit"> Deactivate </button>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
