<p style="color: green"><%= notice %></p>

<h1><%= @request.title %></h1>

<% if @request.thumbnail.attached? %>
  <img src="<%= image_url(@request.thumbnail) %>" />
<% end %>

<p>
  <strong>Category:</strong>
  <%= @request.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @request.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @request.date %>
</p>

<p>
  <strong>Number of Pax:</strong>
  <%= @request.number_of_pax %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @request.duration %>
</p>

<p>
  <strong>Reward:</strong>
  <%= @request.reward %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @request.created_by %>
</p>



<div>
  <%= link_to "Edit this request", edit_request_path(@request) %> |
  <%= link_to "Back to requests", requests_path %>
  <%= button_to "Destroy this request", @request, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
