<!DOCTYPE html>
<html lang="en">

<body>

  <div class="container content_requests_index"> 
    <div class="request-image-container_requests_details">
        <img src="<%= request_thumbnail_url(@request) %>" alt="Request Image" class="request-image_requests_details">
      <div class="btn-report_requests_details">
        <a href="/requests" class="btn btn-back_to_requests">
          <i class="bi bi-arrow-left"></i> Back to requests
        </a>
        <button class="btn btn-danger">
          <i class="fas fa-flag"></i> Report
        </button>
      </div>
    </div>
    <div class="card custom-card_requests_details">
      <div class="card-body p-0">
        <div class="p-3 row">
          <div class="col-md-8">
            <h1 class="mt-3"><%= @request.title %></h1>
            <!--Percentage indicator-->
            <div class="percentage-indicator">
              <% if !current_user.nil? && @match_percentage.include?("%") %>
                <% is_creator = current_user && @request.created_by == current_user.id %>
                <%= percentage_indicator(test_value: @match_percentage, show_condition: !is_creator) %>
              <% end %>
            </div>
            <div class="divider_requests_details"></div>
            <div class="details-section_requests_details">
              <h5>Details</h5>
              <div class="details-item_requests_details">
                <i class="fas fa-calendar-alt"></i>
                <span><%= @request.date.strftime('%d %B %Y') %></span>
              </div>
              <div class="details-item_requests_details">
                <i class="fas fa-clock"></i>
                <span><%= @request.start_time.strftime('%H:%M') %> , lasting <%= @request.duration %> hours</span>
              </div>
              <div class="details-item_requests_details">
                <i class="fas fa-users"></i>
                <span><%= @request.number_of_pax %></span>
              </div>
              <div class="details-item_requests_details">
                <i class="fas fa-map-marker-alt"></i>
                <%= @request.stringlocation.presence || 'Address not available' %>
              </div>
              <div class="details-item_requests_details">
                <i class="fas fa-money-bill-wave"></i>
                <span><%= @request.reward %></span>
              </div>
            </div>
            <div class="divider_requests_details"></div>
            <div class="description_requests_details">
              <h5>Description</h5>
              <p><%= @request.description %></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card profile-card_requests_details mt-3">
              <div class="profile-info_requests_details mb-3">
                <img src="<%= avatar_url(@request.user) %>" alt="<%= @request.user.name %>" width="50" height="50">
                <div>
                  <a href="/profile?id=<%= @request.user.id %>" class="mini-profile">
                    <div class="profile-text">
                      <h6 class="mb-1"><%= @request.user.name %></h6>
                      <p class="stars_user_profile">
                        <% 5.times do |i| %>
                          <i class="fas fa-star <%= 'checked' if i < @average_rating %>"></i>
                        <% end %>
                        (<%= @review_count %> reviews)
                      </p>
                    </div>
                  </a>
                </div>
              </div>
              <% if @is_creator %>
                <button class="btn custom-btn-dark-purple mb-3 w-100 chat-button" style="margin-left:4.5%" onclick="location.href='<%= chats_path(request_id: @request.id) %>'">View related Chats</button>
              <% else %>
                <%= link_to "Chat", chat_path_with_request_and_user(@request, @request.user, false), class: 'btn custom-btn-dark-purple mb-3 w-100 chat-button', style: 'margin-left:4.5%' %>
              <% end %>
              <% if @request.status == 'Completed' %>
                <div class="status-indicator_requests_details mb-3 w-100">Concluded</div>
              <% elsif @is_creator || ( !current_user.nil? && current_user.admin? ) %>
                <div class="request-availability_requests_details mb-3 w-100">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="availability-indicator_requests_details flex-grow-1"><%= @slots_remaining %> slots remaining</div>
                    <form action="/myrequests/complete?id=<%= @request.id %>" method="post" class="complete-form ms-2">
                      <% if @request.status != 'Completed' and @request.date > Date.today.beginning_of_day %>
                      <button type="submit" class="btn complete-btn_mark_completed">
                        <i class="bi bi-check-lg tick-icon_mark_completed"></i>
                        <span class="complete-text_mark_completed">Mark as Complete</span>
                      </button>
                      <% elsif @request.status != 'Completed' and @request.date <= Date.today.beginning_of_day %>
                      <button type="submit" class="btn repost-btn_unfulfilled">
                        <i class="fas fa-sync-alt refresh-icon_unfulfilled"></i>
                        <span class="repost-text_unfulfilled">Repost your Request!</span>
                      </button>
                      <% end %>
                    </form>
                  </div>
                </div>
                <div class="mt-3 w-100">
                  <% if current_user == @request.user %>
                    <%= link_to "Edit this request", edit_request_path(@request), class: "btn btn-warning w-100 mb-2" %>
                  <% end %>
                  <% if current_user.admin? %>
                    <%= link_to "Destroy this request", confirm_admin_delete_request_path(@request), class: "btn btn-danger w-100" %>
                  <% elsif current_user == @request.user %>
                    <%= button_to "Destroy this request", @request, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger w-100" %>
                  <% end %>
                </div>
              <% else %>
                <div class="request-availability_requests_details mb-3 w-100">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="availability-indicator_requests_details flex-grow-1"><%= @slots_remaining %> slots remaining</div>
                    <%= button_to 'Apply', {:controller => "requests", :action => "apply", :id => @request.id, :method => :post }, { class: 'accept-button_requests_details ms-2'} %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
<%= javascript_include_tag 'percentage' %>
</html>
