<div class="chats-index"> 
  <div class="chat-header d-flex flex-column p-3 border-bottom">
    <!-- User Details -->
    <%# <div class="user-details d-flex align-items-center mb-3"> %>
      
    <%# </div> %>

    <!-- Thumbnail and Request Details -->
    <div class="request-details-container d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <% if @chat.applicant_id == current_user.id %>
          <img src="<%= user_avatar_url(@chat.requester) %>" alt="<%= @chat.request.title %>" class="request-thumbnail">
        <% else %>
          <img src="<%= user_avatar_url(@chat.applicant) %>" alt="<%= @chat.request.title %>" class="request-thumbnail">
        <% end %>
        <div class="request-details ml-3">
          <% if @chat.applicant_id == current_user.id %>
            <a href="/profile?id=<%= @chat.requester.id %>" class="chat-mini-profile chat_profile-requester">
              <div class="chat_profile-name-container">
                <span class="chat_profile-name"><%= @chat.requester.name %></span>
              </div>
            </a>
          <% else %>
            <a href="/profile?id=<%= @chat.applicant.id %>" class="chat-mini-profile chat_profile-applicant">
              <div class="chat_profile-name-container">
                <span class="chat_profile-name"><%= @chat.applicant.name %></span>
              </div>
            </a>
          <% end %>
        </div>
      </div>
      <div class="mini-request-card-container">
        <a href="<%= request_path(@chat.request) %>" class="mini-request-clickable-card">
          <div class="mini-request-chevron-indicator">❮</div>
          <div class="mini-request-details-card">
            <div class="mini-request-details">
              <h6 class="mini-request-title"><%= @chat.request.title %></h6>
              <p class="mini-request-time"><%= @chat.request.date.strftime('%d %B %Y') %>, <%= @chat.request.start_time.strftime('%H:%M') %></p>
            </div>
          </div>
          <div class="mini-request-thumbnail-card">
            <img src="<%= request_thumbnail_url(@chat.request) %>" alt="<%= @chat.request.title %>" class="mini-request-thumbnail">
          </div>
        </a>
        <div class="mini-request-white-cover"></div>
      </div>
    </div>
  </div>

  <div class="message-area">
    <% if @messages.any? %>
      <% @messages.each_with_index do |message, index| %>
        <% is_sender = message.sender == current_user %>
        <% prev_message = index > 0 ? @messages[index - 1] : nil %>
        <% spacing_class = prev_message && prev_message.sender != message.sender ? 'mt-4' : 'mt-1' %>
        <div class="message <%= is_sender ? 'sent' : 'received' %> <%= spacing_class %>">
          <%= message.message_text %>
        </div>
      <% end %>
    <% else %>
      <%= render partial: 'shared/chat_init_state' %>
    <% end %>
  </div>

  <div class="input-area border-top p-3" style="width: 83.5%;">
    <form id="message-form" style="width: 102%;" action="<%= chat_messages_path(@chat) %>" method="post" data-remote="true">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="input-group">
        <input type="text" id="chatmessagebox" name="message[message_text]" class="form-control" placeholder="Type a message...">
        <div class="input-group-append">
          <button class="btn send-btn-square" type="submit">
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
