<div class="chats-index"> 
  <div class="chat-header d-flex flex-column p-3 border-bottom">
    <!-- User Details -->
    <%# <div class="user-details d-flex align-items-center mb-3"> %>
      
    <%# </div> %>

    <!-- Thumbnail and Request Details -->
    <div class="request-details-container d-flex align-items-center">
      <img src="<%= @chat.request.thumbnail_url %>" alt="<%= @chat.request.title %>" class="request-thumbnail mr-3" style="width: 50px; height: 50px;">
      <div class="request-details">
        <% if @chat.applicant_id == current_user.id %>
          <a href="/profile?id=<%= @chat.requester.id %>" class="mini-profile chat_profile-requester">
            <h5 class="mb-0 chat_profile-name"><%= @chat.requester.name %></h5>
          </a>
        <% else %>
          <a href="/profile?id=<%= @chat.applicant.id %>" class="mini-profile chat_profile-applicant">
            <h5 class="mb-0 chat_profile-name-small"><%= @chat.applicant.name %></h5>
          </a>
        <% end %>
        <a href="/requests/<%= @chat.request.id %>">
          <h5 class="mb-0 chat_profile-request-title"><%= @chat.request.title %></h5>
        </a>
      </div>
    </div>
  </div>

  <div class="message-area">
    <% if @messages.any? %>
      <% @messages.each_with_index do |message, index| %>
        <% is_sender = message.sender == current_user %>
        <% prev_message = index > 0 ? @messages[index - 1] : nil %>
        <% spacing_class = prev_message && prev_message.sender != message.sender ? 'mt-4' : 'mt-1' %>
        <div class="message <%= is_sender ? 'sent' : 'received' %> <%= spacing_class %>">
          <%= message.message_text %>
        </div>
      <% end %>
    <% else %>
      <%= render partial: 'shared/chat_init_state' %>
    <% end %>
  </div>

  <div class="input-area border-top p-3" style="width: 83.5%;">
    <form id="message-form" style="width: 102%;" action="<%= chat_messages_path(@chat) %>" method="post" data-remote="true">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="input-group">
        <input type="text" name="message[message_text]" class="form-control" placeholder="Type a message...">
        <div class="input-group-append">
          <button class="btn send-btn-square" type="submit">
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>