<!DOCTYPE html>
<html>

<%# Got issue with background %>
<body class="sessions-new">
  <div class="login-container">
    <img src="/path/to/logo.png" alt="Logo" class="logo">
    <h2>Forgot your password?</h2>
    <p>Enter your email to reset your password</p>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit "Send me password reset instructions!", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
    <div class="text-center mt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</body>

</html>

