<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Company Details</title>
  <link rel="stylesheet" href="<%= asset_path('company_details.css') %>">
</head>
<body>
  <div class="container content_requests_index mt-4">
    <div class="card shadow-sm company-card">
      <div class="card-body position-relative">
        <!-- Company Details -->
        <div class="company-details bg-light p-4 rounded">
          <h3 class="h5 text-secondary mb-3">Company Information</h3>
          <p class="card-text">
            <i class="fas fa-calendar-alt me-2 text-muted"></i><strong>Created:</strong> 
            <span class="text-info"><%= @company.created_at.strftime('%d %b %Y, %H:%M') %></span><br>
            
            <i class="fas fa-user-tie me-2 text-muted"></i><strong>Corporate Manager:</strong> 
            <span class="text-info"><%= @company.users.find_by(role_id: 3).name %></span><br>
            
            <i class="fas fa-info-circle me-2 text-muted"></i><strong>Status:</strong> 
            <span class="badge <%= @company.status == 'Active' ? 'bg-success' : 'bg-danger' %>"><%= @company.status %></span>
          </p>
          <!-- Company Title -->
          <h1 class="card-title text-primary company-name"><%= @company.company_name %></h1>
        </div>
        
        
      </div>
    </div>
      <div class="company-document">
        <%# <h3 class="h5 text-secondary mb-3">Document Proof</h3> %>
        <% if @company.document_proof.attached? %>
          <div class="ratio ratio-16x9">
            <iframe src="<%= document_url(@company.document_proof) %>" class="rounded shadow-sm"></iframe>
          </div>
        <% else %>
          <p class="no-document alert alert-warning">No document proof attached.</p>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
