<!DOCTYPE html>
<html lang="en">
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <title>Ban/Unban User</title>
  <%= stylesheet_link_tag 'ban_user', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <div class="container content_requests_index">
    <div class="card custom-card_requests_index">
      <div class="card-body header-container_requests_index">
        <h2 class="header-text_requests_index">Ban/UnBan User</h2>
        <h5 class="subheader-text_requests_index">Check for any suspicious person!</h5>
      </div>
    </div>
    <div class="container"> 
      <ul class="nav nav-tabs" id="banUserTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="ban-tab" data-toggle="tab" href="#ban" role="tab" aria-controls="ban" aria-selected="true">Ban</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="unban-tab" data-toggle="tab" href="#unban" role="tab" aria-controls="unban" aria-selected="false">Unban</a>
        </li>
      </ul>

      <div class="tab-content" id="banUserTabContent">
        <!-- Ban Users Tab -->
        <div class="tab-pane fade show active" id="ban" role="tabpanel" aria-labelledby="ban-tab">
          <div id="banUserContainer">
            <%= render partial: 'ban_user_card', collection: @under_review_users, as: :user %>
          </div>
        </div>

        <!-- Unban Users Tab -->
        <div class="tab-pane fade" id="unban" role="tabpanel" aria-labelledby="unban-tab">
          <div id="unbanUserContainer">
            <%= render partial: 'unban_user_card', collection: @banned_users, as: :user %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= javascript_include_tag 'ban_user' %>
</body>
</html>
