<!-- app/views/my_requests/reviews/edit.html.erb -->
<h1>Edit Your Review</h1>
<%= form_with(model: [@request, @review], url: edit_myrequest_review_path(@review.request, @review), local: true) do |form| %>
  <div>
    <%= form.label :rating, 'Rating'%>
    <%= form.number_field :rating, in: 1..5, placeholder:"Rating", id: 'review_rating' %>
  </div>
  <div>
    <%= form.label :review_content, 'Comment' %>
    <%= form.text_area :review_content, placeholder:"Comment", id: 'review_comment' %>
  </div>
  <div>
    <%= form.submit 'Update Review' %>
  </div>
<% end %>
