<!-- app/views/reviews/index.html.erb -->
<h1>Your Reviews</h1>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <strong>Review for <%= review.review_for.name %>:</strong><br>
      Review by: <%= review.created_by.name %><br>
      Rating: <%= review.rating %><br>
      Comment: <%= review.review_content %><br>
      <%= link_to 'Edit', edit_review_path(review) %>
    </li>
  <% end %>
</ul>
