<!-- app/views/reviews/new.html.erb -->
<h1>Leave a Review for <%= @review_for.name %></h1>
<%= form_with(model: [@review_for, @review], local: true) do |form| %>
  <div>
    <%= form.label :rating %>
    <%= form.number_field :rating, in: 1..5 %>
  </div>
  <div>
    <%= form.label :review_content %>
    <%= form.text_area :review_content %>
  </div>
  <div>
    <%= form.submit 'Submit Review' %>
  </div>
<% end %>