<h2>Edit Profile</h2>

<%= form_for(@profile, url: profile_path(@profile), html: { method: :patch }) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class="field">
    <%= f.label :charity_id %>
    <%= f.collection_select :charity_id, Charity.all, :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :company_id %>
    <%= f.collection_select :company_id, Company.all, :id, :company_name, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :role_id %>
    <%= f.collection_select :role_id, Role.all, :id, :role_name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit 'Update Profile' %>
  </div>
<% end %>
