<!-- app/views/users/show.html.erb -->
<h1><%= @user.name %>'s Profile</h1>
<p>Average Rating: <%= @average_rating || 'No reviews yet' %></p>

<h2>Reviews</h2>
<% if @user.received_reviews.any? %>
  <ul>
    <% @user.received_reviews.each do |review| %>
      <li>
        <strong>Rating:</strong> <%= review.rating %><br>
        <strong>Comment:</strong> <%= review.review_content %><br>
        <strong>Reviewed by:</strong> <%= review.reviewer.name %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No reviews yet.</p>
<% end %>

<%= link_to 'Leave a Review', new_user_review_path(@user) %>
