<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ring of Reciprocity</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
  <link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet" />
  <%= stylesheet_link_tag "application.css"%>
  <%= stylesheet_link_tag "notifs.css"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

  <body class="<%= "#{controller_name}-#{action_name}" %>">
    <% if controller_name == 'sessions' || controller_name == 'registrations' %>
      <nav class="navbar fixed-top" style="background: transparent !important">
    <% else %>
      <nav class="navbar fixed-top">
    <% end %>
        <div class="container d-flex justify-content-start align-items-center h-100">
          <a class="navbar-brand d-flex align-items-center" href="<%= root_path %>">
            <img src="/app/assets/images/OIG.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          </a>

          <% if !user_signed_in? %>
            <%= link_to "Register", register_path, class: "btn ms-auto" %>
            <%= link_to "Login", new_user_session_path, class: "btn ms-3" %>
          <% else %>
            <div class="d-flex ms-4 h-100 align-items-center">
              <a class="nav-link" href="/myapplications">My Applications</a>
              <a class="nav-link" href="/myrequests">My Requests</a>
              <a class="nav-link" href="/about">About</a>
            </div>
            <div class="d-flex align-items-center ms-auto h-100 align-items-center">
              <!-- New request button -->
              <a href="<%= new_request_path %>" class="btn custom-btn-dark-purple me-5">
                <span> New Request </span> <i class="fas fa-plus ms-2 m-auto"></i>
              </a>
              <!-- Profile on the right of Navbar -->
              <a href="<%= profile_path %>" class="text-decoration-none text-neutral-dark">
                <img src="<%= current_user.avatar_url %>" alt="Profile Picture" width="40" height="40" class="rounded-circle m-auto"> <!-- Profile pic -->
              </a>
              <div id="shownotifs" class="text-white notifbell h-100 ms-5 d-flex align-items-center ">
              <% if @unreadcount > 0 %>
                <span class="bg-danger rounded notifalertcount"><%= @unreadcount%></span>
              <% end %>
              <i class="fas fa-bell " id="shownotifsicon"></i>
              </div>
              <%= render partial:'notifications/index', locals: { notifications: @notifications }  %>
                <%= button_to destroy_user_session_path, method: :delete, class: "logoutbutton ms-5 text-white btn", id:"logoutbtn" do %>
                <i class="bi bi-box-arrow-right " style="font-size: 1.5em;" ></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </nav>

    <div class="container offsetnavbar">
      <!-- Displaying notices and errors to user -->
      <% flash.each do |key, message| %>
        <div class="alert <%= flash_class(key) %> alert-dismissible" role="alert">
          <i class="<%= flash_icon(key) %>"></i>
          <span class="alert-message"><%= message %></span>
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <%= yield %>
    </div>
  <%= javascript_include_tag 'notifs' %>
  <%= javascript_include_tag 'application'%>
  </body>
  <%# <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %> 
</html>
