<!-- Container for Request Cards -->
<div class="card mt-0" id="requestContainer">
  <div class="card-body" style=>
    <div class="row">
      <% @requests.each do |myrequest| %>
        <div class="col-md-12 mb-4 request-card_requests_index_my" data-status="<%= myrequest.status %>" data-date="<%= myrequest.date.strftime('%Y-%m-%d') %>" data-time="<%= myrequest.start_time.strftime('%H:%M') %>">
          <div class="clickable-card_requests_index-wrapper_my">
            <div class="card h-100 d-flex flex-row align-items-center">
              <a href="<%= request_path(myrequest) %>" class="clickable-area_requests_index_my">
                <% if myrequest.thumbnail.attached? %>
                  <img src="<%= image_url(myrequest.thumbnail) %>" class="thumbnail_requests_index_my" alt="<%= myrequest.title %>"/>
                <% end %>
                <div class="card-content_requests_index_my flex-grow-1">
                  <h5 class="card-title_requests_index_my"><%= myrequest.title %></h5>
                  <p class="card-date_requests_index_my"><%= myrequest.date.strftime('%d %B %Y') %> , <%= myrequest.start_time.strftime('%H:%M') %></p>
                </div>
              </a>
              <div class="card-actions_requests_index_my">
                <div class="application-indicator_requests_index_my">
                  <% if myrequest.application_count > 0 %>
                    <p class="application-count_requests_index_my"><%= myrequest.application_count %> Applicants</p>
                  <% end %>
                  <p class="applicants-status_requests_index_my <%= 'full-capacity' if myrequest.accepted_application_count >= myrequest.number_of_pax %>" data-accepted-count="<%= myrequest.accepted_application_count %>" data-number-of-pax="<%= myrequest.number_of_pax %>">
                    <i class="fas fa-users"></i> <%= myrequest.accepted_application_count %>/<%= myrequest.number_of_pax %> people found
                  </p>
                </div>
                <div class="action-buttons">
                <button class="btn repost-btn_unfulfilled d-none" data-request-id="<%= myrequest.id %>">
                  <i class="fas fa-sync-alt refresh-icon_unfulfilled"></i>
                  <span class="repost-text_unfulfilled">Repost your request!</span>
                </button>
                <form action="/myrequests/complete?id=<%= myrequest.id %>" method="post" class="complete-form me-3">
                  <button type="submit" class="btn complete-btn_mark_completed">
                    <i class="bi bi-check-lg tick-icon_mark_completed"></i>
                    <span class="complete-text_mark_completed">Mark as Complete</span>
                  </button>
                </form>
              <button class="btn review-btn_mark_completed">
                    <i class="fas fa-star star-icon_mark_completed"></i>
                    <span class="review-text_mark_completed">Leave reviews for your applicants</span>
                  </button>
                </div>
                <button class="btn dropdown-btn_requests_index_my"><i class="fas fa-chevron-down"></i></button>
              </div>
            </div>
            <% if myrequest.request_applications.any? %>
              <div class="popups-container_my">
                <% myrequest.request_applications.each_with_index do |application, index| %>
                  <div class="popup_requests_index_my" style="--index: <%= index %>;">
                    <!-- Content for the popup -->
                    <div class="applicant-info_requests_index_my">
                      <a class="mini-profile" href="/profile?id=<%= application.applicant.id %>">
                        <div class="profile-info_requests_details mb-3">
                          <% if application.applicant.avatar.attached? %>
                            <img src="<%= image_url(application.applicant.avatar) %>" alt="<%= application.applicant.name %>" width="50" height="50">
                          <% end %>
                          <div class="profile-text">
                            <h6 class="mb-1"><%= application.applicant.name %>
                              <% if application.applicant.role_id == 4 %>
                                <i class="fas fa-building" style="font-size: 16px; margin-left: 10px;"></i>
                              <% end %>
                            </h6>
                            <p class="stars_user_profile">
                              <% average_rating = application.applicant.received_reviews.average(:rating).to_f.round(1) %>
                              <% 5.times do |i| %>
                                <i class="fas fa-star <%= 'checked' if i < average_rating %>"></i>
                              <% end %>
                              (<%= application.applicant.received_reviews.count %> reviews)
                            </p>
                          </div>
                        </div>
                      </a>
                      <% if application.status == 'Accepted' %>
                        <% if application.reviewed?(current_user) != true %>
                          <a href="/reviews/new?request_application_id=<%= application.id %>"
                            <button class="btn leave-review-btn_mark_completed">
                            <i class="bi bi-star-fill review-icon_mark_completed"></i>
                            <span class="review-text_mark_completed">Leave a Review</span>
                            </button>
                          </a>
                        <% else %>
                          <a href="/reviews/new?request_application_id=<%= application.id %>"
                            <button class="btn leave-review-btn">Edit Review</button>
                          </a>
                        <% end %>
                          <% if application.request.status == 'Completed' %>
                            <button class="btn edit-contributions-btn_mark_completed ms-2">
                              <i class="bi bi-pencil-square edit-icon_mark_completed"></i>
                              <span class="edit-text_mark_completed">Edit contributions</span>
                            </button>
                          <% end %>
                      <% elsif application.status == 'Pending' %>
                        <button class="btn custom-btn-chat_my">Chat</button>
                      <% end %>
                    </div>
                    <!-- Split button or status indicator -->
                    <div class="split-button_requests_index_my" data-application-id="<%= application.id %>">
                      <% if application.status == 'Accepted' %>
                        <div class="status-indicator_my accepted">Accepted</div>
                      <% elsif application.status == 'Rejected' %>
                        <div class="status-indicator_my rejected">Rejected</div>
                      <% else %>
                        <form action="/myrequests/accept?id=<%= application.id %>" method="post" class="accept-form">
                          <button type="submit" class="btn accept-btn_requests_index_my">Accept</button>
                        </form>
                        <form action="/myrequests/reject?id=<%= application.id %>" method="post" class="reject-form">
                          <button type="submit" class="btn reject-btn_requests_index_my">Reject</button>
                        </form>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
