<table>
  <thead>
    <tr>
      <td>
        Title
      </td>
      <td>
        Number of Applicants
      </td>
      <td>
        View Applications
      </td>
      <td>
        Actions
      </td>
    </tr>
  </thead>
  <tbody>
  <% @requests.each do | myrequest | %>
  <tr>
    <td>
      <%= myrequest.title %>
    </td>
    <td>
      <%= myrequest.application_count %>
    </td>
    <td>
    <a href="<%=request_path(myrequest)%>"> 
      View applications
   </a>
    </td>
    <td>
    <a href="<%=request_path(myrequest)%>"> 
      Edit
   </a>

    <a href="<%=request_path(myrequest)%>"> 
      Delete
   </a>
    </td>
  </tr>
  <tr>
    <td colspan="4">
    Everything below here should be hidden until i click it then it pops out
    </td>
  </tr>
  <% RequestApplication.includes(:request).where(request_id: myrequest.id).each do |application| %>
  <tr>
    <td colspan="4">
    <%= application.status %>
    </td>
  </tr>
  <% end %>
  <% end %>
</tbody>

<table>
  <thead>
    <tr>
      <Strong>Completed</strong>
      <td>
        Title
      </td>
      <td>
        Number of Applicants
      </td>
      <td>
        View Applications
      </td>
      <td>
        Actions
      </td>
    </tr>
  </thead>
  <tbody>
  <% @comprequests.each do | comprequest | %>
  <tr>
    <td>
      <%= comprequest.title %>
    </td>
    <td>
      <a href="<%=request_path(comprequest)%>">
        View applications
      </a>
    </td>
    <td>
      <%review = Review.find_by(review_by: current_user, request_id: comprequest.id)%>
      <% if review%>
        <%= link_to 'Edit Review', edit_myrequest_review_path(comprequest, review) %>
      <%else%>
        <%= link_to 'Leave a Review', new_myrequest_review_path(comprequest) %>
      <%end%>
    </td>
  </tr>
  <tr>
    <td colspan="4">
    <%= comprequest.status %>
    </td>
  </tr>
  <% end %>
</tbody>